@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
html{
    height: 100%;
    width: 100%
}
body{
    display: grid;
    grid-template-rows: 1fr 6fr;
    margin: 0;
    padding: 0;
    min-height: 99.8%;
    border: 1px solid black;
}

.header{
    background: #27374D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #6D5D6E;
}
h1{
    color: #faebeb;
    font-family: "Lato", sans-serif;
    
}

.library-container{
    text-align: center;
    background-color: #9DB2BF;

}
.new-book-btn{
    margin: 15px;
    height: 50px;
    width: 200px;
    font-size: 22px;  
    font-family: "Lato", sans-serif;
    background: #27374D; 
    color: #faebeb;
    border: 2px solid black;
    border-radius: 16px;
}
.new-book-btn:hover{
    cursor: pointer;
}
.new-book-btn:active{
    transform: scale(.95);
    transition: ease 0.07s all;
}
.new-book-btn:not(:active){
    transform: scale(1);
    transition: ease 0.07s all;
}
.popup-form{
    position: fixed;
    left: 50%;
    top: 50%;
    height: 500px;
    width: 500px;
    margin-top: -200px; /* Negative half of height. */
    margin-left: -250px;
    background-color: #27374D;

    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    scale: 0;
    z-index: 1;
}
form{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.form-title{
    font-family: "Lato";
    font-size: 22px;
    color: white;
    display: flex;
    flex-direction: column;
}
.form-author{
    display: flex;
    flex-direction: column;
    font-family: "Lato";
    color: white;
    font-size: 22px;
}
.form-pages{
    display: flex;
    flex-direction: column;
    font-family: "Lato";
    color: white;
    font-size: 22px;
}
.read{
    font-family: "Lato";
    color: white;
    font-size: 22px;
}

input{
    height: 16px;
    border-radius: 6px;
    border: 1px solid black;
    margin-left: 6px;
    font-size: 16px;
    height: 20px;
}
.add-btn{
    font-family: "Lato";
    font-size: 22px;
    height: 45px;
    background-color: #526D82;
    color: white;
    border: 2px solid black;
}
.add-btn:hover{
    cursor: pointer;
}
.add-btn:active{
    transform: scale(.90);
    transition: ease 0.07s all;
}
.add-btn:not(:active){
    transform: scale(1);
    transition: ease 0.07s all;
}
.close-form-btn{
    background-color: inherit;
    width: 30px;
    border: none;
    position: relative;
    left: 350px;
    bottom: 215px;
}
.close-form-btn:hover{
    cursor: pointer;
    
}
.close-form-btn > img{
    width: 20px;
    height: 20px;
}

.library{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
}
.book{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    color: #f3eaea;
    background-color: #27374D;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Lato";
    font-size: 25px;
}
.read:hover{
    cursor: pointer;
}
.remove-btn{
    border: 2px solid black;
    border-radius: 12px;
    width: 100px;
    height: 35px;
    font-size: 20px;
    background-color: #526D82;
    color: whitesmoke
    
}

.remove-btn:hover{
    cursor: pointer;
}
.remove-btn:active{
    transform: scale(.90);
    transition: ease 0.07s all;
}
.remove-btn:not(:active){
    transform: scale(1);
    transition: ease 0.07s all;
}